$color-names: (
    'primaryYellow': rgba(254, 213, 33, 1),
    'primaryRed': rgba(254, 46, 18, 1),
    'primaryLight-gray': rgba(242, 242, 242, 1),
    'primaryDark-gray': rgba(142, 141, 141, 1)
);

$font-sizes: (
    'mobile-s': 12px,
    'mobile-m': 18px,
    'mobile-l': 24px,
    'mobile-x': 32px,

    'tablet-m': 24px,
    'tablet-l': 48px,
    'tablet-x': 72px

    // 'desktop-m': 32px,
    // 'desktop-l': 48px,
    // 'desktop-x': 72px
);

$bp-tablet: 768px;
$bp-desktop: 1200px;