* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style-type: none;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
}

.Header {
  font-size: 32px;
  padding: 20px;
}

.Header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Header-content-img {
  width: 64px;
  margin-right: 14px;
}

.Header-content-p {
  margin: 0;
  font-weight: bold;
}

.Navbar {
  background-color: #fe2e12;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px -4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px -4px 4px rgba(0, 0, 0, 0.25);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 3;
}

.Navbar-content-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.Navbar-content-ul-li-a {
  margin: 10px 0;
  background-color: white;
  border-radius: 10px;
  min-width: 90px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  font-weight: bold;
  border: black 2px solid;
  padding: 10px;
}

.Navbar-content-ul-li-a:hover {
  text-decoration: none;
  color: black;
}

.Home {
  background: linear-gradient(225deg, #FED521 0%, #FED521 40%, #FFFFFF 40%, #FFFFFF 100%);
  font-size: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Home-content {
  padding: 60px 0;
}

.Home-content-h1 {
  font-size: 32px;
  font-weight: bold;
  line-height: 3rem;
}

.Home-content-h1-span {
  color: #fed521;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.Home-content-p {
  font-size: 24px;
  border-radius: 15px;
  width: 100%;
  margin: 30px 0;
}

.Home-content-p-a {
  background-color: #fed521;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  border-radius: 15px;
  border: 3px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-weight: bold;
  padding: 20px 0;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.Home-content-p-a:hover {
  color: white;
  text-decoration: none;
  -webkit-animation: gottaCatch 1200ms ease 1 forwards;
          animation: gottaCatch 1200ms ease 1 forwards;
}

@-webkit-keyframes gottaCatch {
  50% {
    -webkit-transform: scale(105%);
            transform: scale(105%);
  }
}

@keyframes gottaCatch {
  50% {
    -webkit-transform: scale(105%);
            transform: scale(105%);
  }
}

.About {
  background-color: #f2f2f2;
}

.About-content {
  padding: 60px 0;
}

.About-content-p {
  margin: 0;
}

.Quote {
  color: #8e8d8d;
}

.Quote-content {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Quote-content-p {
  text-align: center;
  margin: 0;
}

.Brands {
  background-color: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

.Brands-content {
  background-image: url("../images/tech-brands.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 80%;
  height: 100px;
}

.Find {
  background: linear-gradient(325deg, #FED521 0%, #FED521 31.23%, #FFFFFF 31.24%, #FFFFFF 67.38%);
}

.Find-content {
  margin: 50px 0;
}

.Find-content-form .ButtonIn {
  position: relative;
  max-width: 512px;
}

.Find-content-form-input {
  position: absolute;
  outline: none;
  position: relative;
  height: 70px;
  width: 100%;
  border-radius: 10px;
  padding: 0 70px 0 10px;
  border: 2px black solid;
  -webkit-transition: background-color 400ms ease-in;
  transition: background-color 400ms ease-in;
}

.Find-content-form-input:focus {
  background-color: #f2f2f2;
  border-width: 3px;
}

.Find-content-form-button {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 2;
  height: 50px;
  width: 50px;
  border-radius: 10px;
  background-color: #fed521;
  border: 2px black solid;
  -webkit-transition: background-color 200ms ease-in;
  transition: background-color 200ms ease-in;
}

.Find-content-form-button:hover {
  background-color: #ebc001;
}

.Find-content-result-ul-li {
  margin: 30px 0;
}

.Author {
  padding: 65px 0;
  font-size: 32px;
  font-weight: bold;
  background-color: #f2f2f2;
  text-align: left;
}

.Author-span {
  color: #fed521;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.Links {
  font-size: 24px;
  font-weight: bold;
}

.Links-content {
  margin: 50px 0;
}

.Links-content-ul-li {
  width: 100%;
  margin: 15px 0;
}

.Links-content-ul-li-a {
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 5px;
  -webkit-transition: -webkit-transform 200ms ease-in;
  transition: -webkit-transform 200ms ease-in;
  transition: transform 200ms ease-in;
  transition: transform 200ms ease-in, -webkit-transform 200ms ease-in;
}

.Links-content-ul-li-a-i {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 32px;
}

.Links-content-ul-li-a:hover {
  text-decoration: none;
  color: black;
  -webkit-transform: scale(105%);
          transform: scale(105%);
}

.Footer {
  background-color: #fed521;
  font-size: 12px;
  -webkit-box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
}

.Footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Footer-content-p {
  margin: 0;
  text-align: center;
  padding: 15px 0;
  line-height: 1.5rem;
}

.Footer-content-p-a {
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-weight: bold;
}

.Footer-content-p-a:hover {
  color: white;
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */